---
import HeroBackground from "./HeroBackground.astro";

interface Props {
  title: string;
  description: string;
  images: string[];
}

const { title, description, images } = Astro.props;
---

<section
  class="relative h-[400px] md:h-[600px] flex items-center justify-center overflow-hidden"
  aria-label="Hero Section"
>
  <HeroBackground images={images} />

  <!-- Fondo Gradiente Mejorado -->
  <div class="absolute inset-0 bg-black/60" aria-hidden="true"></div>

  <!-- Contenido del Hero -->
  <div
    class="relative text-center text-slate-600 px-6 md:px-10 max-w-[90%] md:max-w-2xl mx-auto"
  >
    <h1
      class="text-4xl md:text-6xl font-display font-bold mb-4 leading-tight drop-shadow-lg"
    >
      {title}
    </h1>
    <p class="text-lg md:text-2xl drop-shadow-md">
      {description}
    </p>
  </div>
</section>
